nav {
    width: 100vw;
    height: 7vh;
    border-bottom: 1px solid rgba(250, 235, 215, 0.356);
    display: grid;
    grid-template-columns: 35% 45% 15%;
    place-content: center;
}

nav .search-bar {
    width: 400px;
    height: 30px;
    margin: 0 auto;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 6px 10px;
    background: antiquewhite;
    text-align: center;
    font-size: 14px;
}

nav h2 {
    color: #24233c;
    font-style: italic;
}

nav .logout-btn {
    background-color: transparent;
    cursor: pointer;
    width: 150px;
    color: antiquewhite;
    font-size: 14px;
    outline: none;
    /* font-weight: bold; */
    border: 1px solid antiquewhite;
    border-radius: 10px;
}

nav .logout-btn:hover {
    background-color: antiquewhite;
    color:#24233c;
    /* font-weight: bold;  */
}

.box-shadow {
    padding-left: 20px;
    box-shadow: 16px 10px 133px -15px rgba(0,0,0,0.29);
    -webkit-box-shadow: 16px 10px 133px -15px rgba(0,0,0,0.29);
    -moz-box-shadow: 16px 10px 133px -15px rgba(0,0,0,0.29);
}

.home-container {
    color: antiquewhite;
    width: 100vw;
    height: 93vh;
    display: grid;
    grid-template-columns: 20% 80%;
}

.rooms {
    /* border: 1px solid green; */
    overflow-y: scroll;
    border-right: 1px solid rgba(250, 235, 215, 0.356);
}

.rooms .room {
    padding: 0.75rem 1rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    /* border-bottom: 1px solid rgba(250, 235, 215, 0.356); */
    /* box-shadow: 10px 10px 50px rgba(0,0,0,0.2);
    box-shadow: 16px 10px 133px -15px rgba(0,0,0,0.29);
    -webkit-box-shadow: 16px 10px 133px -15px rgba(0,0,0,0.29);
    -moz-box-shadow: 16px 10px 133px -15px rgba(0,0,0,0.29); */
}

.rooms .room:hover {
    transform: scale(1.05);
}

.room .room-name {
    font-size: 18px;
    font-weight: bold;
}

.room .last-sent {
    font-size: 11px;
    color: rgba(243, 219, 189, 0.863);
}

.main {
    padding: 0.75rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .info {
    text-align: center;
    margin-bottom: 0.75rem;
}
.main .info .number {
    font-size: 11px;
}
.main .info h3 {
    font-size: 20px;
}

.main .info p {
    font-size: 12px;
}
.main .messages {
    overflow-y: auto;
    width: 96%;
    height: 70vh;
    padding: 8px 1.5rem;
    padding-bottom: 10px;
}
.message {
    padding: 0.5rem 1rem;
    background-color: antiquewhite;
    margin-bottom: 10px;
    border-radius: 30px;
    color: #24233c;
    padding-left: 20px;
    box-shadow: 16px 10px 133px -15px rgba(0,0,0,0.29);
    -webkit-box-shadow: 16px 10px 133px -15px rgba(0,0,0,0.29);
    -moz-box-shadow: 16px 10px 133px -15px rgba(0,0,0,0.29);
}

.message.user {
    background-color: #24233c;
    color: antiquewhite;
}

.message-header {
    width: 200px;
    height: 20px;
    display: flex;
    align-items: end;
    margin-bottom: 8px;
}

.message-header p {
    font-size: 11px;
    margin-left: 12px;
}

.message-body {
    font-size: 14px;
    padding-bottom: 4px;
}

.text-box-wrapper {
    position: absolute;
    bottom: 10px;
    width: 95%;
    z-index: 100;
    margin: 0 auto;
    /* left: 50%;
    right: 50%; */
}


.home-container form {
    position: relative;
    height: 80px;
    border-radius: 10px;
}

.home-container .input-box {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 10px 10px 50px rgba(0,0,0,0.2);
    padding: 8px 10px;
    outline: none;
    border: 1px solid antiquewhite;
    color: antiquewhite;
    resize: none;
    font-size: 14px;
    z-index: inherit;
    background-color: #24233c;
    background-image: linear-gradient(43deg, #24233c 0%, #936d80 33%, #cb6571 100%);
}

.send-btn {
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 50%;
    border: none;
    outline: none;
    position: absolute;
    top: 35%;
    right: 10px;
    background-color: #24233c;
    color: antiquewhite;
    cursor: pointer;
}

.rooms::-webkit-scrollbar,
.messages::-webkit-scrollbar {
    width: 8px;
  }
.rooms::-webkit-scrollbar-track,
.messages::-webkit-scrollbar-track {
    background: transparent; 
  }
.rooms::-webkit-scrollbar-thumb,
.messages::-webkit-scrollbar-thumb {
    background: #24233c;
    border-radius: 8px;
  }
/* .rooms::-webkit-scrollbar-thumb:hover,
.messages::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }  */