@import url('http://fonts.cdnfonts.com/css/calculator');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
  background-color: #24233c;
  background-image: linear-gradient(43deg, #24233c 0%, #936d80 33%, #cb6571 100%);
}
                
body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}

.home-container {
    color: #24233c;
    width: 100vw;
    height: 100vh;
    padding: 2rem 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
}


.home-container .heading {
    font-size: 6rem;
    margin-bottom: 2rem;
}

.home-container .home-btns {
    display: flex;
    justify-content: center;
}

.home-container .link-btn{
    text-decoration: none;
    color: #cb6571;
    color: #ece6e6f1;
    background-color: #24233c;
    font-size: 2rem;
    margin: 0 0.3rem;
    padding: 6px 2rem;
    width: 250px;
    text-align: center;
    box-shadow: 9px 10px 71px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 9px 10px 71px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 9px 10px 71px 0px rgba(0,0,0,0.35);
    border-radius: 10px;
    border-bottom: 1px solid #ece6e6f1;
}

.home-container .link-btn:hover {
    color: #cb6571;
}

.home-container .text {
    height: 500px;
    display: grid;
    place-content: center;
}

.form-container {
    display: grid;
    place-content: center;
    padding: 2rem;
}

.form-container {
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.form-container #form {
    background-color: #24233c;
    color: antiquewhite;
    width: 450px;
    padding: 2rem 2.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-control {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
}

.form-input {
    font-size: 1rem;
    padding: 4px 8px;
    outline: none;
    border: none;
    background-color: #24233c;
    border: 1px solid antiquewhite;
    color: antiquewhite;
    width: 100%;
    border-radius: 3px;
}

.form-control input[type="text"] {
    background-color: #24233c;
}

.form-btns {
    display: flex;
    place-content: center;
}

.btn {
    background-color: #007bff;
    background-color: #cb6571;
    color: antiquewhite;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 4px;
}

.form-message {
    text-align: center;
    margin: 10px 0;
    color: #cb6571;
    font-size: 14px;
    text-align: center;
}
